.app
{
  background-color: #fafafa;
  
}
.app_header
{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
.app_form
{
  display: flex;
  flex-direction: column;
  text-align: center;
}

