.post
{
    background-color: white;
    max-width: 400px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    .post_image
{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
h4{
    padding: 10px;
    font-weight: normal;
}
.post_header
{
    display: flex;
    align-items: center;
    padding:20px;
    .post_header_avatar
    {
        margin-right: 10px;
    }
    

}
}